.astrobrand {
    font-size: 30px; 
    font-family: Zen Dots, cursive;
}

body {
    background-image: url('../images/Double_Cluster.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}
.bg-shader {
    background-color: rgba(180, 180, 180, .25);
}

  .custom-toggler.navbar-toggler {
            border-color: yellow;
        }

.custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

.navbar-light .navbar-brand {
    color: yellow;
}

.navbar-light .navbar-brand:hover {
    color: #e84610;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,0,1);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,0,.5);
}

.whyastronomy {
    color: yellow;
}

.socialicons h5,i {
    color: yellow;
}

.socialicons i:hover {
    color: #e84610;
}

/* Carousel Slide Caption Styles */
.carslide1 {
    color: whitesmoke;
}

.carslide2 {
    color: yellow;
}

.carslide3 {
    color: navy;
}

.carslide4 {
    color: yellow;
}

.skymapborder {
    border: 2px solid green; 
    border-radius: 50%;
}

figure {
  margin: auto;
}

figcaption {
  background-color: rgba(180, 180, 180, .8);
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: small;
  padding: 2px;
  text-align: center;
}